body{
    font-family: sans-serif; font-weight: 100; font-size: 16px; font-style: normal;
    text-align: center;
}
h1{
    font-family: Oswald; font-weight: 500; font-size: 32px; font-style: normal;  
} 
p{
    text-align: justify;
    text-indent /* alinhar parágrafos */: 16px ;
}